<div class="sticky-top">
   
    <nav class="navbar navbar-expand-lg navbar-light bg-white">
      <ng-container *ngIf="token !== ''">
        <a class="navbar-brand align-items-center icon" href="/home">
          <img
            class="rounded img-header img-fluid"
            src="../../assets/img/logo1.jpeg"
            alt="Men Okay"
          />
          <!-- &nbsp;
          <img
            class="rounded img-header img-fluid"
            src="../../assets/img/demo.png"
            alt="Ken You Me"
          /> -->
        </a>
      </ng-container>
      <ng-container *ngIf="token === ''">
        <a class="navbar-brand align-items-center icon" href="/inicio">
          <img
            class="rounded img-header img-fluid"
            src="../../assets/img/logo1.jpeg"
            alt="Men Okay"
          />
          <!-- &nbsp;
          <img
            class="rounded img-header img-fluid"
            src="../../assets/img/demo.png"
            alt="Ken You Me"
          /> -->
        </a>
      </ng-container>
          <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNavAltMarkup"
          aria-controls="navbarNavAltMarkup"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div
        class="collapse navbar-collapse justify-content-end align-items-center"
        id="navbarNavAltMarkup"
      >
        <div class="navbar-nav menu mx-4">
          
          <ng-container *ngIf="token === ''">
            <a class="nav-item nav-link l" href="register"> Registrate </a>
            <a
              class="nav-item nav-link l"
             
              href="login"
            >
              <!-- <fa-icon [icon]="['fas', 'key']"></fa-icon> -->
              Login
            </a>
          </ng-container>
          <ng-container *ngIf="token !== ''">
            <a class="nav-item nav-link" href="home">Inicio</a>
            <a class="nav-item nav-link " href="feedbackUser">FeedBack</a>
          <a class="nav-item nav-link " href="search">Conocer Gente</a>  
            <a class="nav-item nav-link" href="moda">Moda</a>
            <div class="dropdown">
              <a
                class="btn dropdown-toggle border-0 nav-item nav-link"
                role="button"
                id="dropdownMenuLink"
                data-bs-toggle="dropdown"
                aria-expanded="false"
                href="friends"
              >
                Amigos
              </a>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <li *ngFor="let p of profile">
                  <ng-container *ngIf="p.name !== 'Personal'">
                    <a
                      class="dropdown-item"
                      travellers
                      [routerLink]="'/travel/' + p._id"
                      >{{ p.name }}</a
                    >
                  </ng-container>
                </li>
              </ul>
            </div>
  
          
            <a class="nav-item nav-link" href="hotel">
              Hoteles
            </a>
               <!--<a class="nav-item nav-link d-none">{{
              "menu.restaurants" | translate
            }}</a>
            <a class="nav-item nav-link d-none">{{
              "menu.flowers" | translate
            }}</a> -->
            <button (click)="VentanaNotificaciones()" class="border-0 nav-item nav-link">
              <fa-icon [icon]="faBell">             
              </fa-icon>
              <ng-container *ngIf="nuevas !== 0">
                <span
                  class="position-absolute
                   translate-middle badge rounded-pill noti"
                >
                  {{ nuevas }}
                  <span class="visually-hidden"></span>
                </span>
              </ng-container>
            </button>
            <div *ngIf="mostrarVentanaNotificaciones===true">
              <div class="position-absolute mt-4">
                <app-notification></app-notification>
              </div>            
            </div>
  
            <a class="border-0 nav-item nav-link" href="#"> </a>
            <a class="border-0 nav-item nav-link" href="messages">
              <fa-icon [icon]="['fas', 'message']"></fa-icon>
            </a>
  
            <div class="dropdown">
              <a
                class="btn dropdown-toggle border-0 nav-item nav-link"
                href="#"
                role="button"
                id="dropdownMenuLink"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                <fa-icon [icon]="['fas', 'user']"></fa-icon>
               {{ user }}
              </a>
  
              <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <li><a class="dropdown-item" href="myProfile">Mi Perfil</a></li>
                <li><a class="dropdown-item"  [routerLink]="'/dataUser/' + estado" >Mis Datos</a></li>
                <li><a class="dropdown-item" href="privacy">Privacidad</a></li>
                <li><a class="dropdown-item" href="anuncios">Anuncios</a></li>
                <li>
                  <a class="dropdown-item" href="sponsor">Link Patrocinador</a>
                </li>
                <li>
                  <a class="dropdown-item" href="referidos">Mis Referidos</a>
                </li>
                <li><a class="dropdown-item" href="finanzas">Mis Finanzas</a></li>
                <li><a class="dropdown-item" href="match">Mis Amigos</a></li>
                <li>
                  <a class="dropdown-item" href="myBilletera">Mi Billetera</a>
                </li>
                <li>
                  <a class="dropdown-item" href="usuarioMembresia">Membresías</a>
                </li>
                <li>
                  <a class="dropdown-item btn" (click)="onLogout()">Salir</a>
                </li>
              </ul>
            </div>
          </ng-container>
            
            
         
  
          
        </div>
      </div>

    </nav>
</div>

